// ...........footer.............
$footer-bg : $gray-100;

.footer-three {
    padding-top: 45px;
    background-color: $footer-bg;

    .single-footer {
        h5 {
            font-size: ($font-size-lg + 0.25);
            font-weight: $font-weight-bolder;
            color: $body-color;
            margin-bottom: 15px;
        } 
        
        .pro-about{
            ul{
                li{
                    color: $body-color;
                    font-size: $font-size-base;
                }
            }
        }
        ul{
            li{
                float: left;
                width: 100%;
                list-style: none;
                font-size: $font-size-lg;
                margin-bottom: 10px;

                

                span{
                    display: block;
                }

                a{
                    color: $body-color;
                    -webkit-transition: 0.4s;
                        transition: 0.4s;
                    &:hover{
                        text-decoration: none;
                        color: $secondary;
                    } 
                }
            }
        }        
        
        .pro-socials {
            ul{
                display: flex;
                padding-left: 0;
                li{
                    font-size: ($font-size-lg + 0.50);
                    width: auto;
                    margin-right: 15px;

                    a{
                        color: $body-color-secondary;

                        &.fb:hover{
                            color: #3b5998;
                        }
                        &.tw:hover{
                            color: #00acee;
                        }
                        &.sk:hover{
                            color: #00aff0;
                        }
                        &.ln:hover{
                            color: #0077B5;
                        }
                        &.ig:hover{
                            color: #3f729b;
                        }
                    }
                }
            }
              
        }
               
               
        .pro-newsletter {
            margin-bottom: 30px;

            .search {
                        
                position: relative;
                margin-bottom: 15px;
                width: 100%;
                
                
                input {
                    float: right;
                    height: 40px;
                    padding: 8px 98px 8px 8px;
                    width: 100%;
                    border-radius: 0;
                    outline: none !important;
                    border: $border-width solid $border-color;
                }
                
                .btn{
                    position: absolute;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    height: 100%;
                    width: 46px;

                    
                }              
              
            }
            p{
                color: $body-color-secondary;
            }

        }
    }
    .footer-top-content{
        
        padding-bottom: 15px;
        background-color: $footer-bg;
        border-bottom: 1px solid $border-color;
        margin-bottom: 30px;
        h4{
            font-weight: $font-weight-bolder;
        }
        .search {
                            
            position: relative;
            margin-top: 15px;
            width: 100%;
            
            
            input {
                float: right;
                height: 40px;
                padding: 8px 98px 8px 8px;
                width: 100%;
                border-radius: 0;
                outline: none !important;
                border: $border-width solid $border-color;
            }
            
            .btn{
                position: absolute;
                right: 0;
                top: 0;
                bottom: 0;
            
    
                
            }              
          
        }
    }
    .copyright-content{
        background-color:$footer-bg;
        color: color-yiq($footer-bg);
        padding-top: 30px;
        padding-bottom: 30px;
               
    
        .footer-info{
            text-align: center;
            a{
                color:color-yiq($footer-bg);

                &:hover{
                    color: $secondary;
                }
            }
        }
        
    } 
} 

