
.empty-content{
    margin-top:100px;
    .pro-empty-page{  
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start; 
        align-content: center;
        align-items: center;
        text-align: center;
        padding: 33px 0 92px;

        h2{
            color: #ebebeb;
            font-size: 36px;
            line-height: 43px;
            font-weight: $font-weight-bolder;
            padding: 0;
            margin: 0;
        }
        h1{
            font-size: 64px;
            line-height: 77px;
            font-weight: $font-weight-bolder;
        }
        p{
            margin-top: 25px;
        }
    }
}
    
    
