.shop-content{
    .pro-heading-title{
        padding-bottom: 35px;
    }
    .product{
        padding-bottom: 25px;
    }
}
.shop-special{
    .listing{
        .product{
            .pro-thumb{
                width: 22%;
            }
       }
    }
}