// ....compare....

.compare-content{
    margin-bottom: 30px;
    
    .pro-heading-title{
        padding-bottom: 35px;
    }
    .table{
        background-color: $white;
        thead{
            td{
                border: none;
                padding-left: 0;
                padding-right: 0;
                
                .img-div{
                    padding: 15px;
                    background-color: $gray-100;
                    border: $border-width solid $gray-300;
                    
                }
                
            }
        }
        tbody{
            tr{
                td{
                    font-size: $font-size-base;
                    color: $body-color-secondary;
                    padding-left: 15px;
                    padding-right: 15px;
                    border-bottom: $border-width solid $gray-300;
                    border-top: none;

                    h4{
                        font-weight: $font-weight-bolder;
                        color: $body-color;
                        margin: 0;
                    }
                    
                    span{
                        display: inline-block;
                        font-size: $font-size-lg;
                        font-weight: $font-weight-bolder;
                        width: 55px;
                    }
                    .price-tag{
                        font-size: ($font-size-lg + 0.2);
                        color: $secondary;
                    }
                    
                    
                    .detail-buttons{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                    }
                }
            }
        }
    }
}