// <!-- Home Page 1 -->
.pro-tab-content{
    .pro-heading-title{
        padding-bottom: 35px;
    }
    .nav{
        justify-content: center;
        margin-top: -25px;
        margin-bottom: 20px;
        
        .nav-link{
            font-size: $font-size-base;
            font-weight: $font-weight-bolder;
            text-transform: uppercase;
        }
        .active{
            color: $secondary;
            
        }
    }


}

// Popular Products
.pro-pl-content{
    .pro-heading-title{
        padding-bottom: 35px;
    }
    .product{
        margin-bottom: 30px;
    }
}
.pro-mini-content{
    padding-top: 0;
    padding-bottom: 60px;
    .pro-banner-text{
        display: flex;
        align-items: center;
        background-color: #f4f4f4;
        padding: 30px;
        .pro-banner-thumb{
            width: 120px;
            height: 90px;
            overflow: hidden;

            img{
                height: 100%;
                width: initial;
                max-width: initial;
                margin-left: -15%;
            }
        }
        .pro-image-text{
            padding-left: 15px;

            h4{
            
                font-size: $font-size-lg;
                font-weight: $font-weight-bolder;
                margin-bottom: 15px;
                  small{
                      display: block;
                      font-size: $font-size-lg;
                      font-weight: $font-weight-bolder;
                      color: $secondary;
                      margin-top: 15px;
                      &::after{
                          content: "";
                          background-color: #ddd;
                          width: 40px;
                          height: 1px;
                          margin-top: 15px;
                          position: absolute;
                          display: flex;
                          align-items: center;
                          justify-content: center;
                      }
                  }
              }
        }
      }
}

// Special Offer
.pro-tr-content{
    .pro-heading-title{
        padding-bottom: 35px;
    }
    .product{
        .pro-title{
            min-height: 50px;
        }
    }
}

.blog-content{
    .pro-heading-title{
        padding-bottom: 35px;
    }
    .pro-blog{
        &:hover {
            .pro-thumb {  
                &:after {
                    -webkit-transform: translateY(0);
                    transform: translateY(0);
                    border-width: 6px;
                    animation: imageScroll 1s linear 0s 1 both;
                }
            }
        }

        .pro-thumb{
            border-radius: $border-radius-lg;
            position: relative;
            overflow: hidden;
            margin-bottom: 30px;
            height: 235px;
            -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
               
                &:after {          
                    content: "";
                    position: absolute;
                    z-index: 1;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    border-color: rgba($color: #ffffff, $alpha: 0.2);
                    border-style: solid;
                    border-width: 0;
                    -webkit-transition-property: border-width;
                    transition-property: border-width;
                    -webkit-transition-duration: 0.1s;
                    transition-duration: 0.1s;
                    -webkit-transition-timing-function: ease-out;
                    transition-timing-function: ease-out;
        
                }
                .img-fluid {
                    display: inherit;
                    width: inherit;
                    margin-left: auto;
                    margin-right: auto;
                    width: 100%;
                }
    
            &:hover .overlay{
                display: flex;
            }
    
            h2{
                font-size: $font-size-base;
                    font-weight: $font-weight-bolder;
                line-height: 25px;
                padding:15px 100px 15px 15px;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                z-index:1;
                a{
                    color: $white;
                    
                    &:hover{
                        text-decoration: none;
                    }
                }
                span{
                    position: absolute;
                    top: 15px;
                    right: 0;
                    background-color: $secondary;
                    color: color-yiq($secondary);
                    font-size: $font-size-base;
                    line-height: normal;
                    text-transform: capitalize;
                    text-shadow: none;
                    padding: 0.15em 0.4em;
                    border-radius: $border-radius;
                }
            }
            .blog-date{
                position: absolute;
                top: 15px;
                right:15px;
                background-color:rgba(255,255,255,0.95);                
                font-size: 18px;
                font-weight: $font-weight-bolder;
                color: $secondary;
                padding:7px 10px;
                text-align: center;
                text-transform: uppercase;
                z-index: 9;
    
                small{
                    display: block;
                    font-size: 60%;
                    color: $body-color;
                }
            }
            
        }

        .pro-detail{
            h2{
                font-size: $font-size-lg;
                font-weight: $font-weight-bolder;
    
                a{
                    &:hover{
                        text-decoration: none;
                        color: $secondary;
                    }
                }
            }
            p{
                color: $body-color-secondary;
            }
            .pro-blog-meta{
                margin-bottom: 15px;
                padding: 0;
            }
            li{
                list-style: none;
                display: inline-block;
                padding-right: 10px;
                margin-right: 10px;
                
                &::after{
                    content: "/";
                    left: 12px;
                    position: relative;
                }
    
                &:last-child{
                    &::after{
                        content: none;
                    }
                }
            }
            
             .pro-readmore{   
                display: inline-block;
                font-weight: 700;
                font-family: "Open Sans",sans-serif;
                font-size: 14px;
                text-decoration: none;
                
                &:hover{
                    color: $secondary;
                }
            
            }
        }
    }
   
    
    
}

// <!-- Home Page 2 -->
.categories-content{
    .tab-category-carousel-js{
        margin-bottom: 0 !important;
    }
    .banner-category{
        position: relative;
        overflow: hidden;
        
        img{
            transition: transform .4s; /* Animation */
        }

        .btn{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%); 
       
        }
        &:hover {

             img {
                -webkit-transform: scale3d(1.1,1.1,1);
                transform: scale3d(1.1,1.1,1);
            }
            .pro-text{
               
            
               transform: scaleY(1);

            }
        }
    }
    .pro-Categories{
        border: 1px solid #ddd;
    
        .pro-Categories-thumb{
            
            display: block;
            position: relative;
            overflow: hidden;
            margin-bottom: 10px;
            border-radius: 0;
            
            -webkit-transition: 0.8s;
            transition: 0.8s;
    
            .pro-Categories-title{
                display: none;
                position: absolute;
                bottom: 0;
                left: 0;
                padding: 7px 15px;
                background-color: rgba(255, 255, 255, 0.80);
                z-index: 9;
                text-align: left;
                width: 100%;
                a{
                    
                    font-size: $font-size-base;
                    font-weight: $font-weight-bolder;
                    color: $body-color;
                    outline: none;
                    
                    text-transform: uppercase;
                    
                }
                
            }
            &:hover{
    
                .pro-Categories-title{
                    background-color: $secondary;
                    a{
                        
                        color: color-yiq($secondary);
                    }
                }  
            }
        }
    
        .pro-Categories-detail{
            h2{
                font-size: $font-size-lg;
                font-weight: $font-weight-bolder;
                padding-left: 15px;
                margin-bottom: 15px;
                margin-top: 15px;
            }
            .pro-Categories-meta {
                padding: 0;
                list-style: none;
                padding-left: 15px;
                margin-bottom: 0;
                li{
                    margin-bottom: 10px;
                    
                }
                li:last-child a{
                    color: $body-color-secondary;
                    font-weight: $font-weight-bolder;
                }
            }
        }
    }
}

// Super deal of the Month
.pro-sp-content{
    background-color: #f4f4f4;
    padding-bottom: 60px;

    .pro-description{
        .pro-info{
            font-size: 25px;
            color: $body-color-secondary;
        }

        .pro-title{
            font-size: 60px;
            font-weight: $font-weight-bolder;
            margin-top: 10px;
            ins{
                
                color: $secondary;
                text-decoration: none;
            }
        }

        .pro-timer{
            position: static;
            justify-content: start;
            span{
                font-size: ($font-size-lg + 1);
                margin-left: 0;
                margin-right: 30px;
                width: 80px;
                height: 80px;
                small{
                    color: $body-color-secondary;
                }
            }
        }

        .pro-btns{
            margin-top: 30px;
           .btn{
               padding: 0.6rem 1.8rem;
           }
        }
    }
}

.pro-category-content{
    padding-bottom: 30px;
    
    .pro-heading-subtitle {
        h4{
            font-weight: $font-weight-bolder;
            margin-bottom: 30px;
        }
    }
    .pro-category-items{
        
        .pro-single-item{
            display: flex;
            align-items: center;
            background-color: #f4f4f4;
            // border-color: #f4f4f4;
            // border-width: 1px;
            // border-style: solid;
            
            margin: 0 0 15px 0;
            padding: 10px;
            height: calc(100% - 30px);

            .pro-thumb{
                position: relative;
                width: 24%;
                
                
                .pro-image{
                    -webkit-transition: opacity .75s ease-out;
                    transition: opacity .75s ease-out;
                }
                .pro-image-hover{
                    position: absolute;
                    top: 0;
                    left: 0;
                    opacity: 0;
                    -webkit-transition: opacity .75s ease-out;
                    transition: opacity .75s ease-out;
                }

                
            }

            &:hover {
                .pro-thumb{  
                        
                    .pro-image-hover{
                        
                        opacity: 1;
                    }
                }
            }

            .pro-description{
                width: 76%;
                padding-left: 10px;


                .pro-info{
                    font-size: $font-size-sm;
                    color:$body-color-secondary;
                    
                }
                .pro-title{
                    line-height: 20px;
                    a{
                        font-size: $font-size-lg;
                        color: $body-color;
                        font-weight: $font-weight-bolder;
                        text-decoration: none;
                    }
                    
    
                }

                .pro-price {
                    display: flex;
                    align-items: center;
    
                    ins{
                        font-size: ($font-size-lg + 0.35);
                        font-weight: $font-weight-bolder;
                        color: $secondary;
                        text-decoration: none;
                    }
        
                    del {
                        font-size: $font-size-lg;
                        font-weight: $font-weight-bolder;
                        color: $body-color-secondary;
                        text-decoration: line-through;
                        margin-right: 10px;
                    }
                }
            }

            &:last-child{
                margin-bottom: 0;
            }
        }
    }
}

.info-boxes-content{
    border-top : 1px solid #f4f4f4;
    .info-box-full{
        color: $body-color;
        padding: 30px 0;
        position: relative;
        overflow: hidden;

        .info-box {
            display: flex;
            position: relative;
            align-items: center;
            justify-content: center;
            
            padding-right: 15px;

            .fas {
                font-size: 35px;
                color: $secondary;
                margin-bottom: 0;
                -webkit-box-flex: 0;
    -webkit-flex: 0 0 100px;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    max-width: 100px;
    text-align: center;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
            }
            
            .block {
                
                h4{
                    font-size: $font-size-lg;
                    font-weight: $font-weight-bolder;
                   
                }
                p{
                    font-size: $font-size-base;
                    margin-bottom: 0;
                }
            }
        }  
    }
}

// <!-- Home Page 3 -->
.pro-bc-content{
    padding-bottom: 60px;

    .pro-main{
        .banner-image{
            overflow: hidden;
            img{
                transition: transform .4s; /* Animation */
                width: 100%;
            }

            &:hover{
                img {
                    -webkit-transform: scale3d(1.1,1.1,1);
                    transform: scale3d(1.1,1.1,1);
                }
            }
        }
        .pro-description{
            text-align: center;
        }
    }
}
.pro-logo-slik{
    img{
        border: 1px solid $border-color;
    }
 
}
.testimonails-content{
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #f4f4f4;
  
   .banner-image{
    width: 160px;
    border-radius: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    img{
        border-radius: 200px;
    }
   }
    
     .pro-blog{
         border-radius: $border-radius-lg;
         position: relative;
         overflow: hidden;
         margin-bottom: 30px;
         height: 235px;
 
         &:hover .overlay{
             display: flex;
         }
 
         h2{
             font-size: $font-size-base;
                 font-weight: $font-weight-bolder;
             line-height: 25px;
             padding:15px 100px 15px 15px;
             position: absolute;
             top: 0;
             left: 0;
             width: 100%;
             z-index:1;
             a{
                 color: $white;
                 
                 &:hover{
                     text-decoration: none;
                 }
             }
             span{
                 position: absolute;
                 top: 15px;
                 right: 0;
                 background-color: $secondary;
                 color: color-yiq($secondary);
                 font-size: $font-size-base;
                 line-height: normal;
                 text-transform: capitalize;
                 text-shadow: none;
                 padding: 0.15em 0.4em;
                 border-radius: $border-radius;
             }
         }
         .blog-date{
             position: absolute;
             top: 15px;
             right:15px;
             background-color:rgba(255,255,255,0.95);                
             font-size: 18px;
             font-weight: $font-weight-bolder;
             color: $secondary;
             padding:7px 10px;
             text-align: center;
             text-transform: uppercase;
             z-index: 9;
 
             small{
                 display: block;
                 font-size: 60%;
                 color: $body-color;
             }
         }
         
     }
     .pro-detail{
        text-align: center;
        margin-top: 20px;
         h2{
             font-size: ($font-size-lg + 0.25);
             font-weight: $font-weight-bolder;
 
             a{
                 &:hover{
                     text-decoration: none;
                     color: $secondary;
                 }
             }
         }
         p{
             color: $body-color-secondary;
         }
         .pro-blog-meta{
             margin-bottom: 15px;
             padding: 0;
         }
         li{
             list-style: none;
             display: inline-block;
             padding-right: 10px;
             margin-right: 10px;
             
             &::after{
                 content: "/";
                 left: 12px;
                 position: relative;
             }
 
             &:last-child{
                 &::after{
                     content: none;
                 }
             }
         }
         
          .pro-readmore{   
             display: inline-block;
             font-weight: 700;
             font-family: "Open Sans",sans-serif;
             font-size: 14px;
             text-decoration: none;
             
             &:hover{
                 color: $secondary;
             }
         
         }
     }
}
.brands-content{
    img{
        border: 1px solid #eee;
    }
 
}


.well{
    span{
        width: 80px;
        height: 80;
        font-size: 2rem;
        float: left;
        padding: 8px;
        background-color: aqua;
        small{
            word-break: break-all;
        }
    }
}


.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
    background: url(../images/loader-64x/Preloader_2.gif) center no-repeat #fff;
    background-size: 64px;
}