// ....order....
.star{
    font-weight: $font-weight-bolder;
    color:red; 
    position: relative;
    top: 3px;
}
.shipping-content{
    margin-bottom: 30px;
    .pro-heading-title{
        padding-bottom: 35px;
    }

    .add-address{
        padding: 15px 0;
        
        
       
    }

    .table{
        
        th{
            border-top: none;
        }
        tr{
            
            td{
               
                .form-check{
                    padding-left: 35px;
                    .form-check-input{
                        position: absolute;
                        left: 25px;
                        top: 5px;
                        margin-top: 0;
                    }
                    .form-check-label{
                        text-align: start;
                    }
                }
            }
            .controls{
                ul{
                    display: flex;
                    list-style: none;
                    padding-left: 0;
                    margin-bottom: 0;
                    
                    li{
                        margin-right: 15px;
                        text-align: center;
                    }
                }
            }
        }
    }
   
}
              